{% extends "dashboard/base.html" %}
{% block content %}
    <form action="{% url 'users:post_message' %}" method="post">
        {% csrf_token %}
        {{ message_form }}
        <input type="submit" value="Post">
    </form>
    {% for message in messages %}
        <p>{{message.user.first_name}} {{message.user.last_name}}</p>
        <p>{{ message.date_uploaded }}</p>
        <section>{{message.message}}</section>
        {% for comment in message.comments %}
            <p>{{comment.user.first_name}} {{comment.user.last_name}}</p>
            <p>{{comment.date_uploaded}}</p>
            <section>{{comment.comment}}</section>
        {% endfor %}
    {% endfor %}
{% endblock  %}